In [102]:
import pandas as pd
import pathlib as Path

In [103]:
budget_data_csv = ('../Desktop/budget_data.csv')
budget_data_csv = pd.read_csv('../Desktop/budget_data.csv')

In [104]:
budget_data_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [105]:
budget_data_csv.set_index(['Date'])

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]

In [106]:
budget_data_csv['Date'].count()

86

In [ ]:
# 86 total months in the dataset

In [107]:
budget_data_csv['Profit/Losses'].sum()

38382578

In [ ]:
# $38,382,578 is the net total profit

In [ ]:
# to get the average change in profits/losses, we first have to get the difference between rows 
# then take the mean of those differences.

In [108]:
difference_df = budget_data_csv['Profit/Losses'].diff()

In [109]:
print(difference_df)

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [110]:
difference_df.mean()

-2315.1176470588234

In [26]:
# Average change in Profit/Loss is $-2,315.12

In [27]:
# We then use the maximum and minimum of the differences.
# In this way, we get the greatest increase and decrease in Profits

In [111]:
difference_df.max()

1926159.0

In [ ]:
difference_df.max().iloc()

In [52]:
Date_of_increase

Empty DataFrame
Columns: [Date, Profit/Losses]
Index: []

In [ ]:
# greatest increase is $1,926,159

In [112]:
difference_df.min()

-2196167.0

In [ ]:
# greatest decrease is $-2