In [173]:
import pandas as pd
import pathlib as Path

In [174]:
budget_data_csv = ('../Desktop/budget_data.csv')
budget_data_csv = pd.read_csv('../Desktop/budget_data.csv')

In [175]:
budget_data_csv.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [176]:
budget_data_csv.set_index(['Date'])

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503
...                 ...
Oct-2016         102685
Nov-2016         795914
Dec-2016          60988
Jan-2017         138230
Feb-2017         671099

[86 rows x 1 columns]

In [177]:
budget_data_csv['Date'].count()

86

In [178]:
# 86 total months in the dataset

In [179]:
budget_data_csv['Profit/Losses'].sum()

38382578

In [180]:
# $38,382,578 is the net total profit

In [181]:
# to get the average change in profits/losses, we first have to get the difference between rows 
# then take the mean of those differences.

In [182]:
budget_data_csv['difference_col'] = budget_data_csv['Profit/Losses'].diff()

In [183]:
budget_data_csv.head()

       Date  Profit/Losses  difference_col
0  Jan-2010         867884             NaN
1  Feb-2010         984655        116771.0
2  Mar-2010         322013       -662642.0
3  Apr-2010         -69417       -391430.0
4  May-2010         310503        379920.0

In [184]:
budget_data_csv['difference_col'].mean()

-2315.1176470588234

In [185]:
# Average change in Profit/Loss is $-2,315.12

In [186]:
# We then use the maximum and minimum of the differences.
# In this way, we get the greatest increase and decrease in Profits

In [187]:
budget_data_csv['difference_col'].max()

1926159.0

In [188]:
# Now we find the index for this max value to get the date of the increase

In [189]:
max_val = budget_data_csv['difference_col'].max()

In [190]:
max_val_index = budget_data_csv[budget_data_csv['difference_col']==max_val].index.values[0]

In [191]:
budget_data_csv.iloc[max_val_index]

Date                 Feb-2012
Profit/Losses         1170593
difference_col    1.92616e+06
Name: 25, dtype: object

In [192]:
# So max increase in Profits was $1.93 million in February, 2012

In [193]:
# We do the same process for the greatest decrease using .min()

In [194]:
budget_data_csv['difference_col'].min()

-2196167.0

In [195]:
min_val = budget_data_csv['difference_col'].min()

In [196]:
min_val_index = budget_data_csv[budget_data_csv['difference_col']==min_val].index.values[0]

In [197]:
budget_data_csv.iloc[min_val_index]

Date                 Sep-2013
Profit/Losses        -1196225
difference_col   -2.19617e+06
Name: 44, dtype: object

In [198]:
# So the maximum Losses was $2.2 million in September, 2013