# LSTM Stock Predictor Using Fear and Greed Index

In this notebook, you will build and train a custom LSTM RNN that uses a 10 day window of Bitcoin fear and greed index values to predict the 11th day closing price. 

You will need to:

1. Prepare the data for training and testing
2. Build and train a custom LSTM RNN
3. Evaluate the performance of the model

## Data Preparation

In this section, you will need to prepare the training and testing data for the model. The model will use a rolling 10 day window to predict the 11th day closing price.

You will need to:
1. Use the `window_data` function to generate the X and y values for the model.
2. Split the data into 70% training and 30% testing
3. Apply the MinMaxScaler to the X and y values
4. Reshape the X_train and X_test data for the model. Note: The required input format for the LSTM is:

```python
reshape((X_train.shape[0], X_train.shape[1], 1))
```

In [9]:
import numpy as np
import pandas as pd
import hvplot.pandas

%matplotlib inline

In [10]:
# Set the random seed for reproducibility
# Note: This is for the homework solution, but it is good practice to comment this out and run multiple experiments to evaluate your model
from numpy.random import seed
seed(1)
from tensorflow import random
random.set_seed(2)

In [11]:
# Load the fear and greed sentiment data for Bitcoin
df1 = pd.read_csv('btc_sentiment.csv', index_col="date", infer_datetime_format=True, parse_dates=True)
df1.head()

             fng_value fng_classification
date
2019-07-29          19       Extreme Fear
2019-07-28          16       Extreme Fear
2019-07-27          47            Neutral
2019-07-26          24       Extreme Fear
2019-07-25          42               Fear

In [12]:
df1 = df1.drop(columns="fng_classification")
df1.sort_index()
df1.head()

             fng_value
date
2019-07-29          19
2019-07-28          16
2019-07-27          47
2019-07-26          24
2019-07-25          42

In [13]:
# Load the historical closing prices for Bitcoin
df2 = pd.read_csv('btc_historic.csv', index_col="Date", infer_datetime_format=True, parse_dates=True)
df2.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,13444.879883,15306.129883,12934.160156,14754.129883,14754.129883,1956783037
2018-01-03,14754.089844,15435.009766,14579.709961,15156.620117,15156.620117,1604206990
2018-01-04,15156.490234,15408.660156,14244.669922,15180.080078,15180.080078,1656714736
2018-01-05,15180.080078,17126.949219,14832.360352,16954.779297,16954.779297,2283988962
2018-01-06,16954.759766,17252.849609,16286.570313,17172.300781,17172.300781,1412703790

In [14]:
df2 = df2.drop(columns=['Open', 'High', 'Low', 'Adj Close', 'Volume'])
df2.head()

                   Close
Date
2018-01-02  14754.129883
2018-01-03  15156.620117
2018-01-04  15180.080078
2018-01-05  16954.779297
2018-01-06  17172.300781

In [15]:
df2.sort_index()

                   Close
Date
2018-01-02  14754.129883
2018-01-03  15156.620117
2018-01-04  15180.080078
2018-01-05  16954.779297
2018-01-06  17172.300781
...                  ...
2019-07-25   9882.429688
2019-07-26   9847.450195
2019-07-27   9478.320313
2019-07-28   9531.769531
2019-07-29   9529.889648

[574 rows x 1 columns]

In [18]:
# Join the data into a single DataFrame
df_joined = df1.join(df2, how="inner")
df_joined.head()

             fng_value        Close
2018-02-01          30  9114.719727
2018-02-02          15  8870.820313
2018-02-03          40  9251.269531
2018-02-04          24  8218.049805
2018-02-05          11  6937.080078

In [19]:
# This function accepts the column number for the features (X) and the target (y)
# It chunks the data up with a rolling window of Xt-n to predict Xt
# It returns a numpy array of X any y
# NOTE, this function and the LSTM build below were drawn from exercise 5 in Unit 14 #3  
def window_data(df, window, feature_col_number, target_col_number):
    X = []
    y = []
    for i in range(len(df) - window - 1):
        features = df.iloc[i:(i + window), feature_col_number]
        target = df.iloc[(i + window), target_col_number]
        X.append(features)
        y.append(target)
    return np.array(X), np.array(y).reshape(-1, 1)

In [22]:
# Predict Closing Prices using a 10 day window of fear and greed index values and a target of the 11th day closing price
# Try a window size anywhere from 1 to 10 and see how the model performance changes
window_size = 1

# Column index 1 is the `Close` column and 0 is the fear and greed so here we use 0 as the feature column
feature_column = 0
target_column = 1
X, y = window_data(df_joined, window_size, feature_column, target_column)

In [23]:
# Use 70% of the data for training and the remainder for testing
split = int(.7 * len(X))
X_train = X[:split - 1]
X_test = X[split:]
y_train = y[:split - 1]
y_test = y[split:]

In [24]:
# Use MinMaxScaler to scale the data between 0 and 1. 
from sklearn.preprocessing import  MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
scaler.fit(y)
y_train = scaler.transform(y_train)
y_test = scaler.transform(y_test)

In [25]:
# Reshape the features for the model
X_train = X_train.reshape((X_train.shape[0], X_train.shape[1], 1))
X_test = X_test.reshape((X_test.shape[0], X_test.shape[1], 1))

---

## Build and Train the LSTM RNN

In this section, you will design a custom LSTM RNN and fit (train) it using the training data.

You will need to:
1. Define the model architecture
2. Compile the model
3. Fit the model to the training data

### Hints:
You will want to use the same model architecture and random seed for both notebooks. This is necessary to accurately compare the performance of the FNG model vs the closing price model.

In [26]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [27]:
# Build the LSTM model. 
# The return sequences need to be set to True if you are adding additional LSTM layers, but 
# You don't have to do this for the final layer. 
model = Sequential()
number_units = 30
dropout_fraction = 0.2

model.add(LSTM(
    units=number_units, return_sequences=True,
    input_shape=(X_train.shape[1], 1)))
model.add(Dropout(dropout_fraction))
model.add(LSTM(units=number_units, return_sequences=True))
model.add(Dropout(dropout_fraction))
model.add(LSTM(units=number_units))
model.add(Dropout(dropout_fraction))
model.add(Dense(1))

In [28]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

In [29]:
# Summarize the model
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 1, 30)             3840
_________________________________________________________________
dropout (Dropout)            (None, 1, 30)             0
_________________________________________________________________
lstm_1 (LSTM)                (None, 1, 30)             7320
_________________________________________________________________
dropout_1 (Dropout)          (None, 1, 30)             0
_________________________________________________________________
lstm_2 (LSTM)                (None, 30)                7320
_________________________________________________________________
dropout_2 (Dropout)          (None, 30)                0
_________________________________________________________________
dense (Dense)                (None, 1)                 31
=================================================================
Total params: 18,511
Trainable params: 18,511
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Train the model
# Use at least 10 epochs
# Do not shuffle the data
# Experiement with the batch size, but a smaller batch size is recommended
model.fit(X_train, y_train, epochs=10, shuffle=False, batch_size=1, verbose=1)

Epoch 1/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0517
Epoch 2/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0306
Epoch 3/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0297
Epoch 4/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0278
Epoch 5/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0267
Epoch 6/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0264
Epoch 7/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0259
Epoch 8/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0263
Epoch 9/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0266
Epoch 10/10
377/377 [==============================] - 1s 2ms/step - loss: 0.0266

---

## Model Performance

In this section, you will evaluate the model using the test data. 

You will need to:
1. Evaluate the model using the `X_test` and `y_test` data.
2. Use the X_test data to make predictions
3. Create a DataFrame of Real (y_test) vs predicted values. 
4. Plot the Real vs predicted values as a line chart

### Hints
Remember to apply the `inverse_transform` function to the predicted and y_test values to recover the actual closing prices.

In [31]:
# Evaluate the model
model.evaluate(X_test, y_test)

6/6 [==============================] - 0s 1ms/step - loss: 0.1098

0.10977328568696976

In [32]:
# Make some predictions
predicted = model.predict(X_test)

In [34]:
# Recover the original prices instead of the scaled version
predicted_prices = scaler.inverse_transform(predicted)
actual_prices = scaler.inverse_transform(y_test.reshape(-1, 1))

In [35]:
# Create a DataFrame of Real and Predicted values
stocks = pd.DataFrame({
    "Actual": real_prices.ravel(),
    "Predicted": predicted_prices.ravel()
})
stocks.head()

        Actual    Predicted
0  3670.919922  4599.733887
1  3670.919922  4520.058105
2  3912.570068  4399.255859
3  3924.239990  5333.792480
4  3974.050049  5398.844727

In [36]:
# Plot the real vs predicted values as a line chart
stocks.head(100).hvplot()

:NdOverlay   [Variable]
   :Curve   [index]   (value)

In [36]:
# Conclusion

In [37]:
## By far, the LSTM that uses closing prices has lower loss and tracks actual values over time much better.

In [38]:
## After running the models and evaluator using different windows between 1 and 10, the smaller window corresponds to lower losses and better actual value tracking over time.

In [ ]:
## We see that the graphs look much better for each model when we have a window of 1.